<main class="conteudo-principal">

  <div class="caixa-perfil">

    <div class="cabecalho-perfil">
      <h2>Perfil</h2>
      <button class="botao-editar"><i class="bi bi-pencil-square"></i> Editar</button>
    </div>

    <div class="dados-usuario-topo">
      <div class="foto-container">
        <img src="/frontend/docsRightHere/public/Perfil.png" alt="Paula" class="foto-perfil-grande">
        <div class="camera-floating"><i class="bi bi-camera"></i></div>
      </div>

      <div class="textos-perfil-grande">
        <h3>Paula Schmitt</h3>
        <span class="tag-cargo">Professora</span>
        <p>Professora de Física com mais de 10 anos de experiência</p>
        <p>Especialista em métodos inovadores de ensino</p>
      </div>
    </div>

    <div class="grade-dados">
      <div class="item-dado">
        <i class="bi bi-people"></i>
        <div><label>Registro Profissional</label><span>17085967-1</span></div>
      </div>
      <div class="item-dado">
        <i class="bi bi-telephone"></i>
        <div><label>Telefone</label><span>(44) 99999-8888</span></div>
      </div>
      <div class="item-dado">
        <i class="bi bi-geo-alt"></i>
        <div><label>Localização</label><span>Itambé - PR</span></div>
      </div>
      <div class="item-dado">
        <i class="bi bi-envelope"></i>
        <div><label>Email</label><span>paula.silva@escola.com.br</span></div>
      </div>
      <div class="item-dado">
        <i class="bi bi-calendar4-event"></i>
        <div><label>Data de Admissão</label><span>15/10/2010</span></div>
      </div>
    </div>

  </div>
</main>
