<div class="w-100 h-100 overflow-y-auto d-flex flex-column align-items-center pt-5">

  <div class="background-gray w-75 p-5 rounded-4 text-white shadow mb-5">

    <div class="text-center mb-5">
      <h1 class="text-gradient fs-2 fw-bold">Cadastro</h1>
    </div>

    <form class="w-100">

      <div class="form-group mb-4">
        <label class="form-label opacity-75">Nome completo</label>
        <input type="text" class="form-control form-input-dark" placeholder="Nome completo">
      </div>

      <div class="form-group mb-4">
        <label class="form-label opacity-75">CPF</label>
        <input type="text" class="form-control form-input-dark" placeholder="000.000.000-00">
      </div>

      <div class="form-group mb-4">
        <label class="form-label opacity-75">Data de Nascimento</label>
        <input type="text" class="form-control form-input-dark" placeholder="00/00/0000">
      </div>

      <div class="form-group mb-5">
        <label class="form-label opacity-75">Celular</label>
        <input type="text" class="form-control form-input-dark" placeholder="(dd) 00000-0000">
      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn-background w-50 p-2 rounded-pill fs-5 border-0 text-white fw-bold">Proximo</button>
      </div>

      <div class="text-center mt-4">
        <span class="text-light opacity-75">Já possui conta?</span>
        <a routerLink="" class="link-brand ms-1 text-decoration-none fw-bold">Entrar</a>
      </div>

    </form>
  </div>

  <div class="mt-auto mb-4">
    <p class="text-light opacity-50" style="font-size: 0.8rem;">© 2025 DocsRightHere. Todos os direitos reservados.</p>
  </div>

</div>
