<div class="TopoPagina d-flex gap-2" style="position: absolute; right: 24px; top: 70px; z-index: 1050;">

  <div class="pessoa px-4"
    style="display: flex; gap: 10px; height: 30px; background: linear-gradient(to right, #2b76b9, #09d37f); justify-content: center; align-items: center; color: white; font-size: 18px;">
    <i class="bi bi-person-circle"></i>
    Paula Silva
  </div>

  <div class="professor px-4"
    style="display: flex; height: 30px; background: linear-gradient(to right, #2b76b9, #09d37f); justify-content: center; align-items: center; color: white; font-size: 18px;">
    Professor(a)
  </div>

</div>