<div class="container-fluid p-4">
  <header class="d-flex align-items-center mb-4 gap-2">
    <div class="badge-user">Paula Schmitt</div>
    <div class="badge-role">Professor(a)</div>
  </header>

  <section class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold m-0">Calendário</h2>
    <div class="d-flex gap-2 align-items-center">
      <span class="filtro f-prof">Professor</span>
      <span class="filtro f-sec">Secretaria</span>
      <span class="filtro f-dir">Diretor</span>
      <button class="btn btn-light btn-sm border px-3">
        <i class="bi bi-filter"></i> Filtros
      </button>
    </div>
  </section>

<div class="container-fluid p-4">
  <div class="row g-4">
    <div class="col-lg-8">
      <div class="bg-white rounded-4 shadow-sm p-4 border">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <!-- Título dinâmico (css text-capitalize deixa a primeira letra maiúscula) -->
          <h3 class="fw-bold m-0 text-capitalize">{{nomeDoMes}} {{anoAtual}}</h3>

          <div class="btn-group border rounded">
            <!-- Adicionando os cliques -->
            <button class="btn btn-white border-0" (click)="mudarMes(-1)">
              <i class="bi bi-chevron-left"></i>
            </button>
            <button class="btn btn-white border-0 fw-bold" (click)="irParaHoje()">Hoje</button>
            <button class="btn btn-white border-0" (click)="mudarMes(1)">
              <i class="bi bi-chevron-right"></i>
            </button>
          </div>
        </div>

        <div class="calendar-grid">
          <div class="w-day">DOM</div><div class="w-day">SEG</div><div class="w-day">TER</div>
          <div class="w-day">QUA</div><div class="w-day">QUI</div><div class="w-day">SEX</div><div class="w-day">SÁB</div>

          @for (dia of diasDoMes; track $index) {
            <!-- Quando clicar, chama a função. A classe 'today' só ativa se for o dia selecionado -->
            <div class="day-cell"
                [class.today]="dia === diaSelecionado"
                (click)="selecionarDia(dia)"
                style="cursor: pointer;">

              <span class="day-num">{{dia}}</span>

              @if (verificarSeTemAvisoNoDia(dia).length > 0) {
                <div class="event-dot bg-primary"></div>
              }
            </div>
          }
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="bg-white rounded-4 shadow-sm p-4 border h-100">
        <h5 class="fw-bold border-bottom pb-2 mb-4">Agenda do Dia</h5>
        <div class="event-card border-start border-4 border-primary p-3 bg-light mb-3">
          <small class="text-primary fw-bold">14:00</small>
          <h6 class="m-0 fw-bold">Conselho de Classe</h6>
          <p class="small text-muted mb-0">Sala 02 - Bloco B</p>
        </div>
        <p class="text-center text-muted small py-5">Clique em um dia para ver mais detalhes</p>
      </div>
    </div>
  </div>
</div>
