<div class="d-flex align-items-center justify-content-evenly flex-column h-100 background-gradient">
  <!-- Adicionado text white, pode mudar depois -->
  <div class="text-white">
    <div class="w-100 d-flex align-items-start flex-column ">
      <div class="d-flex flex-row align-items-center">
        <div class="bg-white rounded-1 bg-opacity-25 m-2">
          <img src="/beca.png" width="80">
        </div>
        <div>
          <p class="m-0 fs-1 fw-bold">DocsRightHere</p>
          <p class="m-0 fs-6">Sistema de gestão escolar</p>
        </div>
      </div>
      <div class="mt-4">
        <p class="m-0 fw-bold fs-1">Gerencie sua intituição</p>
        <p class="m-0 fw-bold fs-1 text-green">com excelência</p>
      </div>
      <div class="mt-4">
        <p class="m-0">Uma plataforma completa escolar que conecta</p>
        <p class="m-0">professores, secretaria e administração em um só lugar.</p>
      </div>
    </div>

    <div class="w-100 d-flex flex-column align-items-start">

      <div class="d-flex flex-row align-items-baseline w-100">
        <div class="bg-white rounded-1 bg-opacity-25 m-2">
          <img src="/people.png" width="40">
        </div>
        <p>Gestão de alunos e professores</p>
      </div>

      <div class="d-flex flex-row align-items-baseline w-100">
        <div class="bg-white rounded-1 bg-opacity-25 m-2">
          <img src="/paper.png" width="40">
        </div>
        <p>Documentos e relatórios</p>
      </div>

      <div class="d-flex flex-row align-items-baseline w-100">
        <div class="bg-white rounded-1 bg-opacity-25 m-2">
          <img src="/book.png" width="40">
        </div>
        <p>Controle acadêmico completo</p>
      </div>


    </div>
  </div>
</div>
