<div class="container-fluid p-4 main-bg">

 <div class="row g-3">
    <div class="col-12">
      <div class="TopoPagina d-flex gap-2 ">

        <div class="pessoa px-4"
          style="display: flex; gap: 10px; height: 60px; background: linear-gradient(to right, #2b76b9, #09d37f); justify-content: center; align-items: center; color: white; font-size: 35px;">
          <i class="bi bi-person-circle" style="display: flex; justify-content: center; align-items: center;"></i>
          Laura Silva
        </div>

        <div class="professor px-4"
          style="display: flex; height: 60px; background: linear-gradient(to right, #2b76b9, #09d37f); justify-content: center; align-items: center; color: white; font-size: 35px;">
          Professor(a)
        </div>
      </div>
    </div>
  </div>

  <section class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="fw-bold m-0">Relatórios</h2>
    <div class="d-flex gap-2 align-items-center" style="width: 100%; max-width: 380px; justify-content: flex-end; margin-right: 80px;">
      <span class="filtro f-prof">Alunos</span>
      <span class="filtro f-sec">Professor</span>
      <button class="btn btn-light btn-sm border px-3" style="width: 150px;">
        <i class="bi bi-filter"></i> Filtros
      </button>
    </div>

  </section>

  <div class="row">
    <div class="col-12 col-lg-10">
      <div class="card shadow-sm border-0 p-4 bg-white rounded-3">

        <div class="d-flex justify-content-between align-items-center mb-4 border-bottom pb-3">
          <h4 class="fw-normal m-0 text-center flex-grow-1 ps-5">Relatório de Alunos - 3º Ano - B - Diurno</h4>
          <div class="btn-group btn-group-sm">
            <button class="btn btn-light border btn-export"><i class="bi bi-file-earmark-pdf"></i> PDF</button>
            <button class="btn btn-light border btn-export"><i class="bi bi-printer"></i></button>
            <button class="btn btn-light border btn-export"><i class="bi bi-share"></i></button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered align-middle text-center m-0 custom-table">
            <thead>
              <tr class="bg-light">
                <th class="fw-bold text-dark text-start ps-3">Nome</th>
                <th class="fw-bold text-dark">CPF</th>
                <th class="fw-bold text-dark">RA</th>
                <th class="fw-bold text-dark">Série</th>
                <th class="fw-bold text-dark">Turma</th>
                <th class="fw-bold text-dark">Turno</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-start ps-3">Eduardo Silva</td>
                <td>123.456.789-00</td>
                <td>20261102</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
              <tr>
                <td class="text-start ps-3">Maria Andrade</td>
                <td>987.654.321-11</td>
                <td>20261105</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
              <tr>
                <td class="text-start ps-3">Hugo Hernesto</td>
                <td>456.123.789-22</td>
                <td>20261109</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
              <tr>
                <td class="text-start ps-3">Vinicius Moreschi</td>
                <td>456.123.789-22</td>
                <td>20261109</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
              <tr>
                <td class="text-start ps-3">Rafael de Branco</td>
                <td>456.123.789-22</td>
                <td>20261109</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
              <tr>
                <td class="text-start ps-3">Victor Santana</td>
                <td>456.123.789-22</td>
                <td>20261109</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
              <tr>
                <td class="text-start ps-3">Pedro da Silva</td>
                <td>456.123.789-22</td>
                <td>20261109</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
              <tr>
                <td class="text-start ps-3">Leonardo Pereira</td>
                <td>456.123.789-22</td>
                <td>20261109</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
              <tr>
                <td class="text-start ps-3">Gustavo Moreira da Silva</td>
                <td>456.123.789-22</td>
                <td>20261109</td>
                <td>3º Ano</td>
                <td>B</td>
                <td>Diurno</td>
              </tr>
            </tbody>
          </table>
        </div>

        <nav class="d-flex justify-content-end mt-3">
          <ul class="pagination pagination-sm m-0">
            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
          </ul>
        </nav>

      </div>
    </div>

    <div class="col-12 col-lg-2 mt-3 mt-lg-0">
      <div class="card border-dark text-center py-2 bg-white rounded-0 shadow-sm" style="max-width: 150px;">
        <h3 class="fw-bold m-0">2026</h3>
      </div>
      <p class="small text-muted text-start mt-1 ps-2">Selecione o ano</p>
    </div>
  </div>

</div>
