<div class="PaginaCards">

  
  <div>

    <div>

      <h1>Laura Silva</h1>

    </div>

    <div>
      
    <h1>Professor(a)</h1>

    </div>

  </div>

  <div class="Letreiro"><h1>Meus Cards</h1></div>

  <div class="ExcluirCard"><h1>Exluir Card</h1></div>

  <div class="CriarCard" style="width: 400px; height: 200px; 
  background-color:#3a3f44; border-radius: 15px; justify-content: center; 
  align-items: center; display: flex; color: white; font-size: 200px;">
    <h1 class="Criar">+</h1>
  </div>

  <div><h1></h1></div>

  <div class="AcessarCards" style="width: 400px; height: 200px; 
  background-color:#3a3f44; border-radius: 15px; justify-content: center; 
  align-items: center; display: flex; color: white; font-size: 200px;">
  <h1>Acessar todos Cards</h1>
</div>



</div>