<div class="CabeçaDapagina" style="display: flex; gap: 20px;">


    <div style="width: 200px; height: 60x; background-color:#a39a70; justify-content: center; align-items: center; color: white; font-size: 35px;">

      Laura Silva

    </div>

    <div style="width: 200px; height: 60px; background-color:#a39a70; justify-content: center; align-items: center; color: white; font-size: 35px;">
      
    Professor(a)

    </div>
</div>


 <div class="Letreiro" style="display: flex; gap: 20px;"><h1>Meus Cards</h1></div>

  <div class="ExcluirCard" style="display: flex; gap: 20px;"><h1>Exluir Card</h1></div>


<div class="LinhaPrincipal" style="display: flex; gap: 20px; justify-content: center;" >
 <div class="CriarCard" style="width: 500px; height: 190px; background-color:#3a3f44; border-radius: 15px; justify-content: center; align-items: center; display: flex; color: white; font-size: 100px;">
    +
  </div>



  <div class="AcessarCards" style="width: 500px; height: 190px; background-color:#3a3f44; border-radius: 15px; justify-content: center; align-items: center; display: flex; color: white; font-size: 35px;">
  Acessar todos Cards
  </div>
</div>